<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">

  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script th:inline="javascript">
      let frontendData = [[${frontendData}]];
  </script>

  <title>Lineage 2</title>
</head>
<body>

<div id="users">
</div>
<br/>
<br/>
<div id="app">
</div>
<br/>
<div id="auth">
</div>
<br/>
<div id="registration">
</div>

<script th:src="${isDevMode} ? 'http://localhost:8000/main.js' : '/js/main.js'"></script>

</body>
</html>
