<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sarafan</title>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script th:inline="javascript">
      let frontendData = [[${frontendData}]];
  </script>
</head>
<body>
<h3>Lineage 2</h3>

<div id="users">
</div>
<br/>
<br/>
<div id="messages">
</div>
<br/>
<div id="auth">
</div>
<br/>
<div id="registration">
</div>

<script th:src="${isDevMode} ? 'http://localhost:8000/main.js' : '/js/main.js'"></script>

</body>
</html>
